<!DOCTYPE html>
<html>

<head>
  <title>Beer Hunter</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<div class="nav-group">
    <h1>Welcome to the Beer Hunter site!</h1>
    <nav class="nav">
        <a class="nav-bar" href="./mysite2.html">beer stuff</a>
        <a class="nav-bar" href="./mysite3.html">more beer stuff</a>
        <a class="nav-bar" href="https://cervezachuckb.github.io/HTML-Resume/">resume</a>
    </nav>
</div>